<div class='card'>
  <div class='card-body'>
    <div>
      <img src={{flags.png}} alt={{flags.alt}} />
    </div>
    <h2 class='card-name'>{{name.common}}</h2>
    <p class='card-info'>Capital:{{capital}}</p>
    <p class='card-info'>Population:{{population}}</p>
    <p class='card-info'>Languages:{languages}</p>
  </div>

</div>